$background-black: #100f10;
$text-white: #fff;
$text-gradient1:#e41185;
$text-gradient2:#ff7b00;

.banner {
    background-color: $background-black;
    height: 8rem;
    width: 100;
    display: flex;
    align-items: center;
}

.article {
    width: 892px;

    &__ul {
        list-style: none;
        color: $text-white;
        display: flex;
        justify-content: center;
        display: flex;
        margin: auto;
    }

    &__li {
        flex-direction: row;
        margin: 0 2.7rem 0 2.7rem;
        font-size: 1rem;
        border-radius: 1.5rem;
    }

}

.section {
    height: 7rem;
    width: 25.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__circle {
        border-radius: 50%;
        background: transparent;
        height: 7rem;
        width: 7rem;
        margin: 4rem 0 0 4rem;
        background-image: url('https://github.com/EduardoAraujoo.png');
        background-size: cover;
        position: absolute;
    }

    h1 {
        font-size: 3rem;
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        background-image: linear-gradient(45deg, $text-gradient1, $text-gradient2);
    }
}